<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.anverso.heartratemonitor2">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeartRateMonitor2">
        <activity android:name=".RitmoCardiaco"></activity>
        <activity android:name=".UsarApp" />
        <activity android:name=".UsarChaleco" />
        <activity android:name=".UserSettings" />
        <activity android:name=".UserProfile" />
        <activity android:name=".AdminOrUser" />
        <activity android:name=".RegistrarUser" />
        <activity android:name=".ForgotPassword" />
        <activity
            android:name=".MedicionInfoActivity"
            android:parentActivityName=".AdminHome" />
        <activity android:name=".SettingsAdminActivity" />
        <activity android:name=".InfoAdminActivity" />
        <activity android:name=".HistorialAdminActivity" />
        <activity android:name=".ContactoAdminActivity" />
        <activity android:name=".UserHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".PantallaConfirmacion" />
        <activity android:name=".RegistrarActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>